.status {
  display: inline-block;
  padding: 2px 8px;
  border-radius: 4px;
  font-weight: bold;
}

.available {
  background-color: #8BC34A;
  color: white;
}

.not-available {
  background-color: #F44336;
  color: white;
}


#sapos_status {
  position: relative;
  right: 0;
  float: right;
  display: flex;
  flex-direction: row;
}
.sapos_inactive:before {
  display: inline-block;
  height: 25px;
  width: 25px;
  background-color: #f00;
  border-radius: 50%;
  content: " ";
}
.sapos_active:before {
  display: inline-block;
  height: 25px;
  width: 25px;
  background-color: #0f0;
  border-radius: 50%;
  content: " ";
}