{#
/**
 * @file
 * Theme template file for the SaposService block.
 *
 * Available variables:
 * - service_data: An array of service data.
 * - markup: The HTML markup for the block.
 */
#}

<div{{ attributes }}>
  {{ markup }}
</div>
